/*
* Tech Card
*/
ul.tech-list {
  padding: 0;
}
li.tech-card {
  display: inline-flex;
  justify-content: center;
  width: 180px;
  height: 100px;
  border: 1px solid #ccc;
  padding: 16px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  img {
    display: inline-flex;
    width: auto;
    height: 100%;
  }
}
