/* CSS 书写顺序
   1.位置属性(position, top, right, z-index, display, float等)

　　2.大小(width, height, padding, margin)

　　3.文字系列(font, line-height, letter-spacing,color- text-align等)

　　4.背景(background, border等)

　　5.其他(animation, transition等)
*/
.backgroundDom{
    background: #cccccc;
}
.fatherDom{
    background: cornflowerblue;
    width: initial;
    height: initial;
    display: inline-block;
}
.contentBox{
    display: inline-block;

    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 30px;

    text-align: center;

    border: 20px solid yellowgreen;
    background: indianred;
}
.childBox{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: white;
}
.top{
    margin-bottom:30px;
}
.bottom{
    margin-top: 50px;
}
.top, .bottom{
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: cornflowerblue;
}